/* Imports */

@font-face {
  font-family: 'SpaceText';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/SpaceText-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SpaceText';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/SpaceText-Regular.woff') format('woff');
}

@font-face {
  font-family: 'LMMath';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/latinmodern-math-webfont.woff') format('woff');
}

@font-face {
  font-family: 'LMMono';
  font-weight: normal;
  font-style: italic;
  src: url('fonts/lmmono10-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'LMRoman';
  font-weight: normal;
  font-style: italic;
  src: url('fonts/lmroman7-italic-webfont.woff') format('woff');
}

/*
-------------------------------
          Reset
-------------------------------
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/*
-------------------------------
          Variables
-------------------------------
*/

/*
-------------------------------
          Général
-------------------------------
*/

body {
  font-size: 1em;
  font-family: 'SpaceText';
  color: #333399;
  hyphens: auto;
  /* background: #ffCCFF; */
}

em {
  /*font-family: 'Space Mono', monospace;*/
  /*font-family: 'LMRoman';*/
  /*font-size: 1.12em;*/
  font-style: normal;
  letter-spacing: 0.25em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

h1, h2, h3, h4 {
  hyphens: none;
}

/* article>*, li {
  outline-offset: 5px;
  background: white;
} */

h1 {
  font-size: 1.2em;
}

#subtitle {
  font-size: .75em;
  margin-left: 1em;
  display: block;
}

.introduction p {
  margin-bottom: 1em;
}

#title {
  font-size: 1.75em;
}

.introduction {
  font-size: 1.25em;
}

.programme, .practical-info {
  font-size: 1em;
}

.acces {
  margin-top: 2em;
  font-size: 80%;
  line-height: 1.3em;
}

@media screen and (max-width: 600px) {
  .introduction {
    font-size: 1.25em;
  }
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
}

.programmer-entry-time {
  font-weight: bold;
}

.programme-day h3 {
  margin-top: 1em;
  /*color: blue;*/
}

.programme-detail li {
  display: inline;
}

.programme-detail li:before {
  content: "◜";
  margin-right: 0.5em;
}

.programme-detail li:nth-child(2):before {
  content: "◝";
}

.programme-detail li:nth-child(3):before {
  content: "◞";
}

.programme-detail li:nth-child(4):before {
  content: "◟";
}

dt {
  margin-left: 2em;
  font-weight: bold;
}

.biography {
  font-size: 80%;
  /*color: #666699;*/
}

.biography h3 {
  cursor: zoom-in;
}

.biography[data-expanded="true"] h3 {
  cursor: zoom-out
}

/*
-------------------------------
          Liens
-------------------------------
*/

a {
  text-decoration: none;
}

a:link, :target {
  color: #ff5050;
}

a:visited {
  color: #ff5050;
}

a:hover, a:focus, a:active {
  /*color: #ff00ff;*/
  text-decoration: underline;
}

a:active {
  outline: none;
}

.keep {
  white-space: nowrap;
}

.robert {
  font-size:9pt;
}
