body {
  padding: 15px;
  hyphens: auto;
}

#introduction-toggle, #byline {
  display: none;
}

:target {
  grid-row-start: 1;
}

#menu {
  position: fixed;
  top: 15px;
  right: 10px;
  bottom: 30px;
  width: 30px;
  color: #333399;
  writing-mode: vertical-rl;
}

#menu h2 {
  text-align: right;
}

#menu ul {
  list-style-type: none;
  text-align: right;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 100%;
}

.biography p {
  display: none;
}

:target p, .biography[data-expanded="true"] p {
  display: block;
}

@media screen {
  #content-wrapper, #header {
    margin-right: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)) [last-col-start] minmax(50px, 1fr) [last-col-end];
    grid-template-rows: repeat(auto-fit, minmax(90px, min-content)) [last-line-main-grid];
    grid-gap: 20px;
    grid-auto-flow: row dense;
  }
  #title {
    grid-column-end: span 11;
    position: relative;
  }
  #title .byline {
    position: absolute;
    bottom: 0;
  }
  .introduction {
    /* grid-column: 4 / span 5; */
    grid-column-end: span 5;
    grid-row-end: span 20;
  }
  .programme {
    font-size: .8em;
    grid-column-end: span 6;
    grid-row-end: span 8;
    display: grid;
    grid-template-columns: 40px repeat(5, minmax(50px, 1fr));
    grid-template-rows: repeat(14, minmax(1em, min-content)) [last-line];
    grid-gap: 5px;
  }
  .programme-entry-schedule, .programme-entry-title {
    grid-column-end: span 2;
    margin-top: 10px;
  }
  .programme-entry-time, .programme-entry-duration, .programme-entry-place {
    display: block;
  }
  .programme h2, .programme-day, .programme-detail {
    grid-column-end: span 4;
  }
  .programme-detail {
    margin-bottom: 1.5em;
  }
  .biography, .practical-info {
    grid-column-end: span 2;
  }
  .biography:target {
    font-size: 1em;
    grid-column-end: span 5;
  }
  .programme-parallel {
    grid-row-start: 2;
    grid-row-end: last-line;
    grid-column-start: 1;
    writing-mode: vertical-lr;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
  }
  .programme-detail p, .programme-detail ul {
    display: none;
  }
  .programme-detail, .programme-detail .toggle {
    display: block;
    margin-top: 5px;
  }
  .programme-detail .toggle:after {
    content: "↓ voir la description";
    cursor: pointer;
  }
  .programme-detail .toggle:only-child {
    display: none;
  }
  .programme-detail[data-expanded="true"] p, .programme-detail[data-expanded="true"] ul {
    display: block;
    margin-top: 5px;
  }
  .programme-detail[data-expanded="true"] .toggle {
    position: sticky;
    bottom: 0px;
    background: white;
  }
  .programme-detail[data-expanded="true"] .toggle:after {
    content: "↑ cacher la description";
  }
  .practical-info, .biography {
    grid-row-end: span 3;
    grid-column-end: span 3;
  }
  .practical-info {
    grid-row-end: span 10;
  }
  .programme-grid-block {
    display: none;
  }
  .biography#jean-marie, .biography#jerome {
    grid-row-end: span 6;
  }
  .biography#benjamin {
    grid-row-end: span 4;
  }
  #colophon {
    writing-mode: vertical-lr;
    grid-column-end: span 1;
    grid-row-end: span 10;
    /*grid-row-start: 2;*/
    /*grid-column-start: 1;*/
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
  }
  .partner-logo {
    grid-column-end: span 2;
    grid-row-end: span 6;
  }
}

.partner-logo svg {
  margin-top: 1em;
}

svg path {
  fill: #333399 !important;
}

svg, svg * {
  fill: #333399 !important;
  color: #333399 !important;
}

.logo-ministere-culture {
  grid-column-end: span 1;
}

@media screen and (min-width: 1400px) {
  .introduction {
    /* grid-column: 4 / span 8; */
    grid-column-end: span 8;
    grid-row-end: span 10;
    hyphens: auto;
  }
  .programme {
    grid-column-end: span 8;
    font-size: 1em;
  }
}

@media screen and (max-width: 930px) {
  .introduction[data-expanded="false"] {
    grid-row-end: span 5;
  }
  .introduction[data-expanded="false"] .full-content {
    display: none;
  }
  #introduction-toggle {
    position: relative;
    display: block;
  }
  .introduction[data-expanded="false"] #introduction-toggle:after {
    content: "↓ voir plus";
    cursor: pointer;
  }
  .introduction[data-expanded="true"] #introduction-toggle {
    position: sticky;
    bottom: 0;
    background: white;
  }
  .introduction[data-expanded="true"] #introduction-toggle:after {
    content: "↑ voir moins";
    cursor: pointer;
  }
  /* .programme {
    grid-column: 4 / span 6;
  } */
}

@media screen and (max-width: 800px) {
  #title, .introduction {
    grid-column-start: auto;
  }
  .programme {
    grid-column-start: auto;
  }
  #title {
    grid-column-end: span 7;
  }
}

@media screen and (max-width: 600px) {
  #title {
    grid-row-end: span 2;
    grid-column-end: span 5;
  }
  .introduction[data-expanded="true"] {
    grid-row-end: span 15;
  }
  .biography {
    grid-column-end: span 2;
  }
  .introduction, .programme {
    grid-column-end: span 5;
  }
  .partner-logo {
    grid-row-end: span 4;
  }
}

@media screen and (max-width: 400px) {
  #title {
    grid-column-end: span 4;
  }
}

@media screen and (max-width: 350px) {
  #title {
    grid-column-end: span 3;
  }
  .introduction, .programme {
    grid-column-end: span 4;
  }
}

.programme-entry-place {
  white-space: nowrap;
}