@page {
  size: A4 portrait;
  margin: 5mm;
}

* {
  font-size: 9.5pt !important;
}

#content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, calc((200mm - (3 * 2.5mm)) / 4));
  grid-template-rows: repeat(64, calc((287mm - (15.6 * 2.5mm)) / 16));
  grid-auto-flow: column dense;
  outline: 1px solid red;
  grid-gap: 2.5mm;
  /* grid-template-areas: "four-1 one-1" "four-2 one-2" "four-3 one-3" "four-4 one-4" "four-5 one-5" "four-6 one-6" "four-7 one-7" "four-8 one-8" "four-9 one-9" "four-10 one-10" "two-1 three-1" "two-2 three-2" "two-3 three-3" "two-4 three-4" "two-5 three-5" "two-6 three-6" "two-7 three-7" "two-8 three-8" "two-9 three-9" "two-10 three-10"; */
}

#menu, .partner-logo, .practical-info {
  display: none;
}

.programme {
  grid-row: 49 / span 16;
  grid-column: 1 / span 4;
  /* display: grid; */
  /* grid-template-columns: repeat(4, 50mm); */
  /* grid-template-rows: repeat(auto-fit, minmax(1em, min-content)); */
  /* grid-auto-flow: column dense; */
  /* grid-gap: 2.5mm; */
  break-inside: avoid;
  columns: 2;
  column-gap: 10mm;
  column-fill: auto;
}

.programme h2, .programme-day {
  display: block;
}

.programme-day[data-day="tuesday"] {
  break-before: column;
  margin-top: 2em;
}

.programme-entry-schedule, .programme-entry-title {
  break-before: avoid;
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
  margin-bottom: 1em;
}

.programme-entry-schedule {
  width: 45%;
}

.programme-entry-title {
  width: 53%;
}

.programme-entry-time, .programme-entry-duration, .programme-entry-place {
  display: block;
}

.programme-detail {
  /* grid-column-end: span 2; */
  break-before: avoid;
  /* margin-bottom: 1em; */
}

#title {
  grid-row: 1;
  grid-column: 3 / span 2;
}

.introduction {
  grid-row: 2 / span 15;
  grid-column: 3 / span 2;
}

.introduction {
  font-size: 21pt;
}

.biography p {
  font-size: 8.5pt !important;
}

.biography {
  grid-row-end: span 3;
}

#colophon {
  display: none;
}

#jean-marie, #jerome {
  grid-row-end: span 8;
}

#osp {
  grid-row-end: span 5;
}

#geraldine {
  grid-row-end: span 4;
}
