@page {
  size: A3 landscape;
  margin: 5mm 0mm 5mm 0mm;
}

* {
  font-size: 9pt !important;
  line-height: 1.3;
}

#content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, calc((420mm) / 4));
  grid-template-rows: repeat(32, calc((287mm) / 16));
  grid-auto-flow: column dense;
  /* outline: 1px solid red; */
  /* grid-gap: 2.5mm; */
  /* grid-template-areas: "four-1 one-1" "four-2 one-2" "four-3 one-3" "four-4 one-4" "four-5 one-5" "four-6 one-6" "four-7 one-7" "four-8 one-8" "four-9 one-9" "four-10 one-10" "two-1 three-1" "two-2 three-2" "two-3 three-3" "two-4 three-4" "two-5 three-5" "two-6 three-6" "two-7 three-7" "two-8 three-8" "two-9 three-9" "two-10 three-10"; */
}

#menu {
  display: none;
}

.practical-info, .introduction, #title, .programme, .biography, .colophon {
  padding-left: 5mm;
  padding-right: 5mm;
}

.practical-info {
  grid-row: 1 / span 16;
  grid-column: 3 / span 1;
}

.partner-logo {
  grid-row: 12 / span 4;
  grid-column: 4 / span 1;
}

.programme {
  grid-row: 17 / span 32;
  grid-column: 1 / span 4;
  /* display: grid; */
  /* grid-template-columns: repeat(4, 50mm); */
  /* grid-template-rows: repeat(auto-fit, minmax(1em, min-content)); */
  /* grid-auto-flow: column dense; */
  /* grid-gap: 2.5mm; */
  break-inside: avoid;
  columns: 2;
  column-gap: 235mm;
  column-fill: auto;
  position: relative;
}

.programme h2, .programme-day {
  display: block;
}

.programme h2 {
  margin-bottom: 1em;
}

.programme-day[data-day="tuesday"] {
  break-before: column;
  margin-top: 2em;
}

.programme-entry-schedule, .programme-entry-title {
  break-before: avoid;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1em;
}

.programme-entry-schedule {
  width: 45%;
}

.programme-entry-title {
  width: 53%;
}

.programme-entry-time, .programme-entry-duration, .programme-entry-place {
  display: block;
}

.programme-detail {
  /* grid-column-end: span 2; */
  break-before: avoid;
  margin-bottom: 1em;
}

.programme-parallel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 320mm;
  writing-mode: vertical-rl;
  padding-top: 2em;
}

#title {
  grid-row: 1 / span 16;
  grid-column: 4 / span 1;
  position: relative;
}

#title * {
  font-size: 200% !important;
}

#byline {
  position: absolute;
  bottom: 2em;
  width: 65mm;
  left: 10mm;
}

.introduction {
  grid-row: 1 / span 16;
  grid-column: 1 / span 2;
  padding-right: 7.5mm;
  column-gap: 10mm;
  columns: 2;
  column-fill: auto;
}

.introduction p {
  break-before: avoid;
  break-after: avoid;
  font-size: 150% !important;
}

.introduction em {
  font-size: 100% !important;
}

/* .introduction {
  font-size: 21pt;
} */

.biography {
  /*grid-row: 50 / span 15;
  grid-column: 2 / span 1;*/
  grid-row-end: span 3;
  padding-right: 20mm;
}

#colophon {
  grid-row: 17 / span 16;
  grid-column: 2;
  writing-mode: vertical-rl;
  padding-top: 2em;
}

#jean-marie {
  grid-row: 23 / span 4;
  grid-column: 3 / span 1;
}

#benjamin {
  grid-row: 17 / span 4;
  grid-column: 3 / span 1;
}

#baptiste {
  grid-row: 17 / span 2;
  grid-column: 2 / span 1;
}

#jerome {
  grid-row: 20 / span 4;
  grid-column: 2 / span 1;
}

#osp {
  grid-row: 30 / span 2;
  grid-column: 3 / span 1;
}

#geraldine {
  grid-row: 27 / span 1;
  grid-column: 2 / span 1;
}

.grid-cell {
  grid-column: 3;
  grid-row-start: 11;
  background: #333399;
}

svg path, #svg4629 path, #svg5365 path, path, svg *, svg {
  fill: #333399 !important;
  color: #333399 !important;
}

.partner-logo {
  padding-left: 5mm;
  padding-right: 5mm;
  grid-column: 3;
  grid-row: 15 / span 2;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.partner-logo svg {
  flex: 1 1 22%;
  padding: 2%;
  max-height: 40%;
  text-align: left;
}

h1 {
  position: relative;
}

h1 span:nth-child(1) {
  writing-mode: vertical-rl;
  text-orientation: upright;
  vertical-align: top;
  /* float: left; */
}

h1 span:nth-child(2) {
  display: block;
  position: absolute;
  top: 0;
  left: 1.75em;
  letter-spacing: 1ex;
}

h1 span:nth-child(3) {
  writing-mode: vertical-lr;
  text-orientation: upright;
  vertical-align: top;
  /* float: left; */
}

h1 span:nth-child(3):before {
  content: " ";
  writing-mode: vertical-lr;
  text-orientation: upright;
}

#subtitle {
  position: absolute;
  top: 3em;
  width: 45mm;
  hyphens: none;
  margin-top: 0.4em;
  margin-left: 5.85em;
}