@page {
  size: A4 portrait;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media print {
  .programme-description {
    display: none;
  }
  .programme {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
    display: grid;
    grid-template-columns: [monday monday-left] repeat(2, minmax(50px, 1fr)) [monday-right] repeat(3, minmax(50px, 1fr)) [monday-end] minmax(2em, min-content) [tuesday tuesday-left] repeat(2, minmax(50px, 1fr)) [tuesday-right] repeat(3, minmax(50px, 1fr)) [tuesday-end];
    grid-template-rows: [first-line] repeat(11, minmax(.5em, min-content)) [last-line];
    grid-auto-flow: column dense;
    font-size: .7em;
    grid-gap: 0;
  }
  .programme-entry-schedule, .programme-entry-title {
    grid-column-end: span 2;
    margin-top: 0px;
  }
  .programme h2, .programme-day, .programme-detail {
    grid-column-end: span 5;
  }
  .programme h2 {
    grid-row: 1;
    grid-column-start: monday;
    grid-column-end: tuesday-end;
  }
  .programme h3 {
    margin: 0;
  }
  .programme-detail {
    margin-bottom: 0em;
  }
  [data-day="monday"] {
    grid-column-start: monday;
  }
  .programme-entry-title[data-day="monday"] {
    grid-column-start: monday-right;
    grid-column-end: monday-end;
  }
  [data-day="tuesday"] {
    grid-column-start: tuesday;
  }
  .programme-entry-title[data-day="tuesday"] {
    grid-column-start: tuesday-right;
    grid-column-end: tuesday-end;
  }
  .programme-parallel {
    /* grid-row: last-line-end;
    grid-column-start: monday;
    grid-column-end: tuesday-end; */
    grid-row-start: 2;
    grid-row-end: last-line;
    grid-column-start: monday-end;
    writing-mode: vertical-rl;
    font-size: .75em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .programme-grid-block {
    background: #333399;
  }
  #title, .introduction, .practical-info, #note1 {
    transform-origin: center center;
    transform: rotate(180deg);
  }
  #title {
    position: absolute;
    top: calc(100% - 20mm);
    bottom: 0;
    right: 0;
    left: calc(50% + 4mm);
  }
  .introduction {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 20mm;
    left: calc(50% + 4mm);
  }
  .practical-info {
    position: absolute;
    top: 50%;
    right: calc(50% + 4mm);
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-content: end;
  }
  #note1 {
    position: absolute;
    top: calc(50% + 2mm);
    right: 0;
    bottom: calc(50% - 10mm);
    left: calc(50% + 4mm);
  }
  /**
    Hide extensive intro.
  */
  .introduction p:nth-child(n+2) {
    display: none;
  }
  .biography {
    display: none;
    font-size: .75em;
  }
  .partner-logo, #menu, #menu-spacer {
    display: none;
  }
}